---
whiskers:
  version: 2.0.0
---
<h3 align="center">
  <img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png" width="100" alt="Logo"/><br/>
  <img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/misc/transparent.png" height="30" width="0px"/>
  Catppuccin for <a href="https://github.com/Cloudef/bemenu">bemenu</a>
  <img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/misc/transparent.png" height="30" width="0px"/>
</h3>

<p align="center">
  <a href="https://github.com/catppuccin/template/stargazers"><img src="https://img.shields.io/github/stars/catppuccin/bemenu?colorA=363a4f&colorB=b7bdf8&style=for-the-badge"></a>
  <a href="https://github.com/catppuccin/template/issues"><img src="https://img.shields.io/github/issues/catppuccin/bemenu?colorA=363a4f&colorB=f5a97f&style=for-the-badge"></a>
  <a href="https://github.com/catppuccin/template/contributors"><img src="https://img.shields.io/github/contributors/catppuccin/bemenu?colorA=363a4f&colorB=a6da95&style=for-the-badge"></a>
</p>

<p align="center">
  <img src="https://raw.githubusercontent.com/catppuccin/bemenu/main/assets/preview.webp"/>
</p>

## Previews

<details>
<summary>🌻 Latte</summary>
<img src="https://raw.githubusercontent.com/catppuccin/bemenu/main/assets/bemenu-latte.png"/>
</details>
<details>
<summary>🪴 Frappé</summary>
<img src="https://raw.githubusercontent.com/catppuccin/bemenu/main/assets/bemenu-frappe.png"/>
</details>
<details>
<summary>🌺 Macchiato</summary>
<img src="https://raw.githubusercontent.com/catppuccin/bemenu/main/assets/bemenu-macchiato.png"/>
</details>
<details>
<summary>🌿 Mocha</summary>
<img src="https://raw.githubusercontent.com/catppuccin/bemenu/main/assets/bemenu-mocha.png"/>
</details>

## Usage

- Launch from your wm, script or command bemenu adding the desired theme as params:
{% for id, flavor in flavors %}
{%- set palette = flavor.colors -%}
```sh
# {{ flavor.name }}
bemenu-run --fb "#{{ palette.base.hex }}" --ff "#{{ palette.text.hex }}" --nb "#{{ palette.base.hex }}" --nf "#{{ palette.text.hex }}" --tb "#{{ palette.base.hex }}" --hb "#{{ palette.base.hex }}" --tf "#{{ palette.red.hex }}" --hf "#{{ palette.yellow.hex }}" --af "#{{ palette.text.hex }}" --ab "#{{ palette.base.hex }}"
```
{% endfor %}
{% for id, flavor in flavors %}
{%- set palette = flavor.colors -%}
```sh
# {{ flavor.name }}
set $menu bemenu-run --fb "#{{ palette.base.hex }}" --ff "#{{ palette.text.hex }}" --nb "#{{ palette.base.hex }}" --nf "#{{ palette.text.hex }}" --tb "#{{ palette.base.hex }}" --hb "#{{ palette.base.hex }}" --tf "#{{ palette.red.hex }}" --hf "#{{ palette.yellow.hex }}" --af "#{{ palette.text.hex }}" --ab "#{{ palette.base.hex }}"
bindsym $mod+d exec $menu
```
{% endfor %}
{% for id, flavor in flavors %}
{%- set palette = flavor.colors -%}
```sh
# {{ flavor.name }}
export BEMENU_OPTS='--fb "#{{ palette.base.hex }}" --ff "#{{ palette.text.hex }}" --nb "#{{ palette.base.hex }}" --nf "#{{ palette.text.hex }}" --tb "#{{ palette.base.hex }}" --hb "#{{ palette.base.hex }}" --tf "#{{ palette.red.hex }}" --hf "#{{ palette.yellow.hex }}" --af "#{{ palette.text.hex }}" --ab "#{{ palette.base.hex }}"'
```
{% endfor %}

## 💝 Thanks to

- [Iván Ruzo](https://github.com/iruzo)
- [Crony Akatsuki](https://github.com/cronyakatsuki)

&nbsp;

<p align="center">
  <img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/footers/gray0_ctp_on_line.svg?sanitize=true" />
</p>

<p align="center">
  Copyright &copy; 2022-present <a href="https://github.com/catppuccin" target="_blank">Catppuccin Org</a>
</p>

<p align="center">
  <a href="https://github.com/catppuccin/catppuccin/blob/main/LICENSE"><img src="https://img.shields.io/static/v1.svg?style=for-the-badge&label=License&message=MIT&logoColor=d9e0ee&colorA=363a4f&colorB=b7bdf8"/></a>
</p>
